<h1>Listing bottoms</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bottoms.each do |bottom| %>
      <tr>
        <td><%= bottom.picture %></td>
        <td><%= link_to 'Show', bottom %></td>
        <td><%= link_to 'Edit', edit_bottom_path(bottom) %></td>
        <td><%= link_to 'Destroy', bottom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bottom', new_bottom_path %>
